.modal-dialog.modal-lg {
    max-width: 90%;
    margin: 1.75rem auto;
    max-height: 90%;
}

.card {
    width: 400px;
    height: 400px;
    object-fit: cover; 
}

.modal-content {
    border-radius: 0.5rem;
    background-color: var(--body-color);
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#myForm {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.inputField {
    overflow-y: auto;
    box-sizing: border-box;
}

.modal-body form .imgholder {
    height: 100%;
    width: auto;
    max-height: 350px;
    width: auto;
    min-width: 350px;
    max-width: 500px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal-title{
    color: white;
}

.d-none {
    display: none;
}

#comboDetailsTable {
    max-height: 300px;
    overflow-y: auto;
}

.table-container {
    position: relative;
    width: 100%;
}

.table-wrapper {
    max-height: 200px;
    overflow-y: auto;
}